body{
box-sizing: border-box;
padding:auto;
margin: auto;
margin-top: 80px;
border: double 15px;
justify-content: center;
background-image: url(images.png);
}

#header{


width: 90%;
margin-left: auto;
margin-right: auto;
flex-direction: column;
font-size: large;


}


h1{
    text-align: center;
    text-decoration:underline;
    color: blue;
   
    
}

#header-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}
.nav-link{
  padding-left: 330px;
 
  width: 50%;
  color: rgb(241, 63, 63);
  font-size: x-large;
}
.nav1-link{
  
  padding-left: 330px;
  margin-left: auto;
  margin-right: auto;
  align-self: baseline;
  width: 50%;
  color: rgb(241, 63, 63);
  font-size: x-large;
  
}


 @media screen and (max-width: 700px){
    
     .nav-link{
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    
      
    }
    #header-img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      
  }
    
} 
@media screen and (max-width: 701px){
    
  .nav-link{
   padding-left: 50px;
   
 } 
 .nav1-link{
   padding-left: 120px;
 }
}